{% extends 'mascotas.html' %}

{% block content %}
        <form class="form-horizontal" method="POST" action="">
                {% csrf_token %}
                <h1>¿Desea eliminar el registro de {{ object.nombre }}?</h1>
                <button class="btn btn_danger" type="submit">Confirmar</button>
                <a class="btn btn-default" href="{% url 'listarAll' %}">Cancelar</a>
        </form>
{% endblock %}