{% extends 'mascotas.html' %}
{% block extrahead %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block content%}
<div class="container">
        {% if object_list %}
        {% for mascota in object_list %}
        <div id="products" class="view-group">
                    <div class="item col-xs-4 col-lg-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" src="{{ mascota.foto.url}}" width="150"  alt="" />
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                        {{ mascota.nombre}}</h4>
                                <p class="group inner list-group-item-text">
                                        {{ mascota.descripcion}}</p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead">
                                                {{ mascota.raza}}</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                            <p class="lead">
                                                    {{ mascota.estado }}</p>
                                        </div>
                                </div>
                                {% if perms.Mascota.add_mascota %}   
                                <a class="btn btn-success" href="{% url 'ModificarM' mascota.id %}">Modificar</a>
                                <a class="btn btn-success" href="{% url 'EliminarM' mascota.id %}">Eliminar</a>
                                {% endif %}
                                <a class="btn btn-success" href="{% url 'confirmar' mascota.id %}">Adoptar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
    </div>
{% endblock %}