{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mis Perris</title>
    <link rel="stylesheet" href="" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'js/jquery.min.js' %}" rel="stylesheet">
</head>

<body>
    <header class="container1" id="top">
        <div class="img">
            <img src="{% static 'imagenes/img/logo.png' %}" alt="" />
        </div>
        <div class="menu-mobile">
            <a href="javascript:void(0)"><span class="fa fa-bars" aria-hidden="true"></span></a>
        </div>
        <nav class="main-menu displayed" style="display: none;">
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="#">¿Quienes somos?</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contáctos</a></li>
                <li><a href="{% url 'registroCli' %}">Registrar</a></li>
                <li><a href="{% url 'login' %}">Ingresar</a></li>
            </ul>
        </nav>
    </header>
    <section class="login-block">

    <div class="row1">
            <h2>Bienvenido a Mis Perris</h2>
            <p>Mis Perris es un centro de animales rescatados, enfocados en encontrarle un nuevo hogar</p>
    </div>    

        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Ingrese Datos</h2>
                    <form role="form" method="post" id='form_login'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text">Usuario:</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="text">Contraseña:</label>
                            {{ form.password }}
                        </div>
                        <button class="btn btn-lg btn-success btn-block" type="submit" name="login">Ingresar</button>
                    </form>
                </div>
                <div >
                    
                </div>
            </div>
    </section>
</body>

</html>
